<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 5 Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#index.html.erb">Main Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-labels="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class ="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"> Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class = "container">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1 class="display-2">My Portfolio</h1>
            <p class="lead">My name is Alex Garcia, and I am a senior computer science Engineer at UCCS. <br />
            <a href="https://eas.uccs.edu/cs/academics/undergraduate-programs/bachelor-of-science-in-computer-science">Degree Plan</a> 
            </p>
        </div> 
    </div>
<!--Start of Skills-->
    <div class = "container">
        <div class="row">
            <div class ="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Programming Languages</h4>
                        <p class = "card-text">
                            <ul style="list-style-type:circle;">
                                <li>Java</li>
                                <li>C/C++</li>
                                <li>Ruby </li>
                                <li>Python</li>
                                <li>Lisp</li>
                                <li>R</li>
                            </ul>
                        </p>
                    </div>
                </div>
			</div>
     	</div>

     <div class="row">
        <div class ="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Technical Skills</h4>
                    <p class = "card-text">
                        <ul style="list-style-type:circle;">
                            <li>CyberSecurity Skills</li>
                            <li>Admininstrator</li>
                            <li>Linux</li>
                            <li>Servers</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
	</div>

      <div class="row">
            <div class ="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Soft Skills</h4>
                        <p class = "card-text">
                            <ul style="list-style-type:circle;">
                                <li>Communication</li>
                                <li>Troubleshooting</li>
                                <li>Conflict Management</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Start of projects-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" alt="This is my project 1">Project Title 1</h4>
                    <p class="card-text">lorum ipsum
                    </p>
                    <br />
                    <a href="#" class="btn btn-primary"> Show this project</a>
                </div>
         </div>
        </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project Title 2</h4>
                <p class="card-text">lorum ipsum
                </p>
                <br />
                <a href="#" class="btn btn-primary"> Show this project</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project Title 3</h4>
                <p class="card-text">lorum ipsum
                </p>
                <br />
                <a href="#" class="btn btn-primary"> Show this project</a>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>
